
body {
    background: black;
}

h1 {
    text-align: center;
    color: darkred;
    font-size: 5em;
    font-family: 'Creepster', cursive;
}

#home {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

@media (max-width: 1000px) {
	.container {
	flex: 100%;
	max-width: 100%;	
	}
}

.container {
	border: 3px solid black;
	border-radius: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	height: 120vh;
	background-color: black;
	margin: auto;
  }

  .cont-img {
	background: url(assets/img/Haunted-House-halloween-16050647-1280-800.jpg);
	width: 1280px;
	height: 800px;
  }

  .flex-box {
	flex-basis: 7rem;
	width: 5rem;
	height: 5rem;
	margin: 10px;
  }

  .box-img {
	width: 200px;
	height: 250px;
	border-radius: 60px;

  }

  /* .flex-box1 {
	width: 5rem;
	height: 5rem;
	background: darkred;
	margin: 10px;
	flex-shrink: 5;
  } */
